*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-text{
border-radius: 5px;
background-color: rgb(63, 63, 66);
padding: 10px;
}

.back-to-top {
  opacity: 0;
  transition: opacity 0.3s ease;
}

body:has(#sushi,#beef:target) .back-to-top {
  opacity: 1;
}